.answer {
	font-family:Arial, sans-serif;
	font-size:20px;
	color: blue;
}
.question {
	font-family:Arial, sans-serif;
	font-size:25px;
	color: black;		}
input {
	padding:4px 2px;
	border:solid 1px #aacfe4;
	margin:20px;
}

.question-container {
	display: grid;
	justify-content: start;
	grid-template-columns: 60px 500px auto;
	grid-gap: 5px;
	background-color: lightgray;
	padding: 10px;
}

fieldset { 
	border: 1px solid blue;
}

legend {
	padding: 10px;
	background:  #5c0b02;
	color: white;
}

input[type="submit"]{
	background: #0de281;
}

input[type="checkbox"] {
	outline: 3px solid black;
}