.answer {
	font-family:Arial, sans-serif;
	font-size:20px;
	color: blue;
}
.question {
	font-family:Arial, sans-serif;
	font-size:25px;
	color: black;		
}

.question-container {
	position: relative;
	justify-content: start;
/* 	background-color: blue; */
	padding: 10px;
}

.answer-container {
	display: grid;
	justify-content: start;
	grid-template-columns: 60px 500px auto;
	grid-gap: 5px;
/* 	background-color: lightgray; */
	padding: 10px;
}

.test-button {
	margin: 10px;
}

.button-container {
	display: flex;
	justify-content: space-between;
	gap: 10px 50px;
}

.checkOrX {
	height: 100px;
	width: 100px;
/* 	background-color: pink; */
}

.overlayPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
/* 
	background-color: gray;
 */
	text-align: center;
}

/* 
input[type="checkbox"] {
	outline: 3px solid black;
}
 */