.answer {
	font-family:Arial, sans-serif;
	font-size:20px;
	color: blue;
}
.question {
	font-family:Arial, sans-serif;
	font-size:25px;
	color: black;		}
/* 
input {
	padding:4px 2px;
	border:solid 1px #aacfe4;
	margin:20px;
}
 */

.question-container {
	display: block;
	position: relative;
	justify-content: start;
	background-color: lightgray;
	padding: 10px;
}

.answer-container {
	display: grid;
	justify-content: start;
	grid-template-columns: 60px 500px auto;
	grid-gap: 5px;
	background-color: lightgray;
	padding: 10px;
}

fieldset { 
	border: 1px solid blue;
}

legend {
	padding: 10px;
	background:  #5c0b02;
	color: white;
}

input[type="submit"]{
	background: #0de281;
}

.checkOrX {
	display: inline-block;
	height: 100px;
	width: 100px;
/* 	top: 20; */
/* 	background-color: pink; */
}

.overlayPanel {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
/* 
	background-color: gray;
 */
	text-align: center;
}

/* 
input[type="checkbox"] {
	outline: 3px solid black;
}
 */