.video-player-container {
	display: grid;
	justify-content: start;
	grid-template-rows: 90% 5%;
 	background-color: lightgray; 
	height:100%;
	width:100%
}

.video-player-frame {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.button-video {
	font-size: 40px;
	line-height: 10px;
	min-width: 50px;
/* 	border-radius: 10px; */
}

.button-container {
	display: flex;
	height: 100%;
	/* 	min-height: 100px; */
 	background-color: lightblue;
}
